[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/rails/rspec-rails"]
	path = vendor/rails/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "vendor/plugins/acts_as_taggable_on_steroids"]
	path = vendor/plugins/acts_as_taggable_on_steroids
	url = git://github.com/matta/acts_as_taggable_on_steroids.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/nex3/haml.git
[submodule "vendor/plugins/acts_as_ferret"]
	path = vendor/plugins/acts_as_ferret
	url = git://github.com/redinger/acts_as_ferret.git
[submodule "vendor/plugins/acts_as_audited"]
	path = vendor/plugins/acts_as_audited
	url = git://github.com/collectiveidea/acts_as_audited.git
[submodule "vendor/plugins/acts_as_commentable"]
	path = vendor/plugins/acts_as_commentable
	url = git://github.com/jackdempsey/acts_as_commentable.git
