- if controller.action_name == "index"
  - if logged_in?
    .Section
      %h3 Options

      .content#Options
        = link_to "Create a new post", new_post_path, :class => "icon icon_new_post"