<div id="Main">
    <div class="inner">
		<% if flash[:notice] %>
			<div id="flash" class="notice">
				<%= flash[:notice] %>
			</div>
		<% end %>
        <% form_tag admin_passwords_path do %>
          <fieldset>
              <dl>
                  <dt><label for="user_email" class="block">Enter the email address used to create your account</label></dt>
                  <dd><%= text_field_tag :email %></dd>
              </dl>
              <%= submit_tag 'Reset Password' %>
          </fieldset>
        <% end %>
    </div>
</div>