<div id="comments">
	<h2><%= pluralize comments.count, 'Comment' %></h2>
	
	<ol>
		<%= render :partial => 'comments/comment', :collection => comments %>
	</ol>
	
	<% if logged_in? %>
		<div id="Comment_Form">
			<h2>Leave a Comment</h2>
			
			<% remote_form_for :comment, :url => comments_path do |f| %>
				<%= f.text_area :text, :cols => 55, :rows => 7 %>
				
				<div class="buttons">
					<%= f.submit "Submit Comment" %>
				</div>
			<% end %>
			
		</div>
	<% end %>
</div>