<h1>Editing user</h1>

<%= error_messages_for :user %>

<%= render :partial => 'form', :locals => { :user => @user, :mode => 'Update' } %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
