<div class="properties">
<% assigned_properties.each do |assigned| %>
  <span class="drop-list-panel" style="width: 19em;">
  <% options = options_for_select( assigned.property.options.find(:all, :order=>"sequence").collect {|v| [ v, v.id ] }, assigned.option_id ) %>
  <%= assigned.property.name %>: <%= generic_update_select( assigned, :option, options ) %>
  
  </span>
<% end %>
</div>