<div id="Main">
	<div class="inner">
		<p>This section will eventually contain random statistics about current Wiki pages. Recently updated pages, most commented pages, most edited pages, etc ...</p>		
		<p>You can also change this page by going to a specific Wiki page and clicking the "Set this page as default" link on the sidebar.</p>
		
		<br/>

		<div class="inner_left">		
		<div class="panel">
			<h2>Recently Updated</h2>
			
			<% @recent_changes.each do |page| %>
				<p><%= link_to page.title, page_path(page) %></p>
			<% end %>
		</div>
		</div>
		
		<div class="inner_right">
			<div class="panel">
				<h2>Recently Viewed</h2>
				
				<% @visits.each do |visit| %>
					<p><%=h visit.inspect %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>