<div class="Section">
  <h3>Options</h3>

  <div class="content" id="Options">
    <%= link_to "Create a new wiki page", new_page_path, :class => "icon icon_new_page" %>
    <%= link_to "Create a new blog post", new_post_path, :class => "icon icon_new_post" %>
  </div>
</div>