<% if controller.action_name == "show" %>
  <div class="Section">
    <h3>Options</h3>
    <div class="content" id="Options">
      <% if logged_in? %>
        <%= link_to "Create a new post", new_post_path, :class => "icon icon_new_post" %>
      <% end %>
      
      <% if @post.user == current_user %>
        <%= link_to "Edit this post", edit_post_path(@post), :class => "icon icon_edit_post" %>
      <% end %>
    </div>
  </div>
<% end %>

